<div class="container-fluid silver">
	<h6 id="name">
	  <%= @post.user.email.upcase %>
	  <% if current_user === @post.user %> | 
	    <%= link_to 'Edit', edit_post_path(@post), class: "blue" %> | 
	    <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: "blue"%>
	  <% end %>
	</h6>
	<h1 class="c_dark"><%= @post.title %></h1>
	<h6>Submited <%= time_ago_in_words @post.created_at %> ago</h6>
	<p><%= @post.body %></p>
</div>
<br/>
<div class="container-fluid silver">
	<h4 class="c_dark"><%= @post.comment.count %> Comments</h4>
	<div class="border-bottom">
	  <%= render @post.comment %>	
	</div>
	<br/>
	<% if !user_signed_in? %>
      <div class="jumbotron text-center">
      	<h3>You must signed in to add a comment and back here :)</h3>
      	<%= link_to 'Sign in', user_session_path, class: "btn btn-lg btn-primary", style: "float: none;" %>
      </div>
	<% else %>
      <%= render "comments/form" %>
    <% end %>
</div>