<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/rails_defoult' %>
  </head>
  <body>
  	<div class="container">
  	  <div class="row">
  		  <div class="col-md-2">
  			  <%= render "layouts/left_navigation_bar" %>
  		  </div>
  		  <div class="col-md-10">
          <%= render 'layouts/navigation_bar' %>
          <div class="container-fluid">
            <p class="text-center blue" id="notice"><%= notice %></p>
            <%= yield %>
          </div>
  		  </div>	
  	  </div>
  	</div>
  </body>
</html>